/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #4f4f4f;
  font-family: "inter", sans-serif;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
  line-height: 1.5;
}

/* *****************About section************************** */
/* ol li a{
  font-size: 12px;
  font-weight: 500;
} */

.homeAbout{
  font-size: 12px;
  font-weight: 500;
}
.greater-than{
  font-size: 12px;
  font-weight: 500;
}

/* *********why-choose-sec section********************** */

.why-choose-sec {
    /* background: #FDF6F1; */
    background: #d9e3ed;
    padding: 80px 0 56px;
} 
/* @media (min-width: 992px) {
    .servicecontainer, .servicecontainer-lg, .servicecontainer-md, .servicecontainer-sm {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .servicecontainer, .servicecontainer-md, .servicecontainer-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .servicecontainer, .servicecontainer-sm {
        max-width: 540px;
    }
} */
.about-us-header {
    text-align: center;
    margin-bottom: 40px;
}
.about-us-header h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
h2 {
    font-size: 32px;
    font-weight: 700;
}

.about-us-header p {
    max-width: 490px;
    margin: auto;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.about-us-header {
    text-align: center;
    margin-bottom: 40px;
}

/* row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
} */

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}
.why-choose-card {
    background: #fff;
    box-shadow: 0px 4px 9px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    transition: 0.5s all;
}
.card-icon {
    width: 63px;
    height: 71px;
    border-radius: 64% 36% 26% 74% / 66% 75% 25% 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d9e3ed;
    margin: 0 auto 15px;
}
img, svg {
    vertical-align: middle;
}
.why-choose-card h4 {
    font-size: 18px;
    margin-bottom: 15px;
}
@media (max-width: 992px) {
  .why-choose-card h4 {
    font-size: 28px;
  }
}
h4 {
    font-size: 20px;
    font-weight: 600;
}
.why-choose-card p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.why-choose-card {
    background: #fff;
    box-shadow: 0px 4px 9px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    transition: 0.5s all;
}


/* *********************************** */
@media (max-width: 580px) {
  #display {
    display: none;
  }
}

.about-us-head h6 {
  color: #0077ff;
  /* color: #F7660E; */
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.about-us-head h2 {
  font-size: 28px;
  max-width: 500px;
  font-family: "Inter", sans-serif;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}
@media (max-width: 992px) {
  .parra {
     font-size: 18px;
     /* color: #0077ff; */
  }
}
.item h4 {
  /* width: 200px;
    height: 100px; */
  /* background-color: #ff6900; */
}

.client-img {
}

.quotation-icon {
  width: 15px;
  height: 12px;
  display: block;
  /* width: 100%; */
}
.quotation {
  width: 15px;
  height: 12px;
  color: #0077ff;
}

/* slider css  */
.container-fluid {
  /* background-color: #FDF6F1;    */
  /* background-color: #d9e3ed; */
}
.review-card {
  background: #fff;
  border-radius: 10px;
  padding: 24px;
}

.owl-carousel .quotation-icon img {
  width: auto;
}

.owl-carousel .owl-item img {
  display: block;
  /* width: 100%; */
}

.review-card h4 {
  font-size: 20px;
  margin: 24px 0 15px;
}

.review-card p {
  margin-bottom: 15px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.star-rate span {
  font-size: 14px;
  color: #4f4f4f;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
}

.star-rate span i.filled {
  color: rgba(255, 185, 6, 1);
  /* color: #0077FF; */
}

.star-rate span i {
  color: #9b9b9b;
  margin-right: 5px;
}

.fa-star:before {
  content: "\f005";
}

.review-user {
  display: flex;
  align-items: center;
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px dashed #b4b4b4;
}

.owl-carousel .review-user img {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.review-user h6 {
  margin-bottom: 0;
  font-size: 16px;
}

.review-user h6 span {
  display: block;
  font-size: 14px;
  color: #4f4f4f;
  margin-top: 3px;
}

.owl-carousel.review-slider .owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block !important;
}

/* *********** */
.review-user h6 {
  margin-bottom: 0;
  font-size: 16px;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d1d1d;
}
a {
  color: #1d1d1d;
  text-decoration: none;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  -ms-transition: ease all 0.5s;
}
.review-user h6 span {
  display: block;
  font-size: 14px;
  color: #4f4f4f;
  margin-top: 3px;
}

.owl-carousel.review-slider .owl-nav button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 10px;
  color: rgba(29, 29, 29, 1);
  transition: 0.5s all;
}
.review-slider:hover {
  /* color: #7a749a; */
}
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #0077ff;
}
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #0077ff;
}
/* ****************hero css ********** */

.start-seller-sec {
    background-color: #d9e3ed;
  padding: 40px 0;
  height: 500px;
}
@media (min-width: 1400px) {
  .heroContainer,
  .heroContainer-lg,
  .heroContainer-md,
  .heroContainer-sm,
  .heroContainer-xl,
  .heroContainer-xxl {
    max-width: 1320px;
  }
}
@media (min-width: 1200px) {
  .heroContainer,
  .heroContainer-lg,
  .heroContainer-md,
  .heroContainer-sm,
  .heroContainer-xl {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .heroContainer,
  .heroContainer-lg,
  .heroContainer-md,
  .heroContainer-sm {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .heroContainer,
  .heroContainer-md,
  .heroContainer-sm {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .heroContainer,
  .heroContainer-sm {
    /* max-width: 540px; */
  }
}

.heroContainer,
.heroContainer-fluid,
.heroContainer-lg,
.heroContainer-md,
.heroContainer-sm,
.heroContainer-xl,
.heroContainer-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.seller-inner-img img {
  border-radius: 10px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.d-flex {
  display: flex !important;
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
/* .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
} */

.seller-info-content {
  background: #fff;
  box-shadow: 0px 4.4px 12px -1px rgba(222, 222, 222, 0.36);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto 0 auto -100px;
  height: 390px;
}

.w-100 {
  width: 100% !important;
  /* height: 380px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* user agent stylesheet */
div {
  display: block;
  unicode-bidi: isolate;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.seller-info-content h3 {
  font-size: 16px;
  /* margin-bottom: 15px; */
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d1d1d;
}
@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 1.75rem;
  }
}
.h3,
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

/* user agent stylesheet */
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d1d1d;
}
@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 8px;
  }
}
.seller-info-content p {
  margin-bottom: 15px;
}
/* .seller-info{
    margin: 0;
} */
@media (max-width: 992px) {
.seller-info{
    margin-top: 100px;
}
}
@media (max-width: 768px) {
.seller-info{
    margin-top: 100px;
}
}
@media (max-width: 576px) {
.seller-info{
    margin-top: 100px;
}
}
/* @media (max-width: 992px) { */
.seller-info{
    /* margin-top: 100px; */
}
/* } */

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*,
::after,
::before {
  box-sizing: border-box;
}
/* user agent stylesheet */
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.seller-info-content p {
  margin-bottom: 15px;
}

.seller-para {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.w-100 {
  width: 100% !important;
}
.d-flex {
  display: flex !important;
}
.sllers-list {
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  /* align-items: self-start; */
  /* flex-shrink: 0; */
  /* margin-right: 15px; */
}
.sllers-list ul li {
    font-size: 11px;
}
dl,
ol,
ul {
  margin-top: 0;
  /* margin-bottom: 1rem; */
}
ol,
ul {
  padding-left: 2rem;
}
*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* user agent stylesheet */
ul {
  list-style-type: disc;
}
.btn-primary {
  background: #3203B4;
  border-radius: 10px;
  border: 1px solid #d9e3ed;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  padding: 6px 18px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  display: inline-flex;
  align-items: start;
  justify-content: start;
}
.bi-shield-check{
  color:#3203B4;
  font-size: 15px;

}
ul li{
  list-style: none;
}

.w-auto {
  width: auto !important;
}

.w-100 {
  width: 100% !important;
}
.seller-small-img img {
  border-radius: 10px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.img-fluid {
  /* max-width: 100%; */
  height: auto;
}
img,
svg {
  vertical-align: middle;
}

.seller-inner-img img {
  border-radius: 10px;
  width: 100%;
  height: 460px;
  object-fit: cover;
}

.seller-info-content.w-100 {
  /* margin: 0; */
  width: 100% !important;
  height: 440px;
}

@media (max-width: 992px) {
  .seller-info-content {
    /* margin-top: 10px; */
    /* display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center; */
    margin-left: 10px;
    /* width: 100% !important; */
  }
}

@media (max-width: 992px) {
  .seller-inner-img img {
    width: 100% !important;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .seller-info-content {
    /* display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center; */
    /* margin-left: 10px; */
  }
}
@media (max-width: 576px) {
  .seller-info-content {
    /* margin-top: 10px; */
    /* display: flex !important;
    justify-content: center;
    align-items: center; */
    font-size: 22px;
    line-height: 2;

  }
}
@media (max-width: 576px) {
  .seller-small-img {
    display: none;
    /* margin-left: 50px; */
  }
}
.vission-parra {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01rem;
}

@media (max-width: 992px) {
  .seller-info-content h3{
    font-size: 22px;
  }
  }
@media (max-width: 992px) {
  .vission-parra{
    font-size: 16px;
  }
  }

  @media (max-width: 992px) {
    .seller-info-content h3{

    }
    
  }
.check{
    font-size: 15px;
    /* color: red; */
    /* width: 100%; */
  }
